/** NAVIGATION
 *===================================

.menu-top-navigation-container
	+cf

.nav--menu
	+cf

	padding: 0 10px
	position: fixed
	top: 0
	z-index: 999991
	+font("proxima")
	text-transform: uppercase
	font-weight: bold
	font-size: 14px
	letter-spacing: 0.12em

	&.signin
		line-height: 30px
		font-size: 1em

	&.left
		left: 0
	&.right
		right: 0
		text-align: right

	&.open
		background: rgba($color-dark-gray, 0.65)


		

		.menu--user
			> ul
				display: block


			.toggle-menu
				color: $color-almost-white
				height: 32px



	@media screen and (max-width: $mq-min-netbook)
		background: rgba($color-dark-gray, 0.25)

.menu--user
	position: relative

	.toggle-menu
		line-height: 32px
		height: 32px
		color: $color-dark-gray
		display: block


	img
		width: 30px
		height: 30px
		border-radius: 50%
		vertical-align: top
		position: relative
		top: 1px

	span
		padding-left: 5px

	ul
		position: absolute
		background: rgba($color-dark-gray, 0.65) 
		display: none
		width: 195px
		right: -10px
		top: 32px
		z-index: 10000
		color: #fff
		padding: 0 10px
		line-height: 1.7em

		a
			display: block
			color: #fff
			margin: .5em 0
			text-align: right

		li.section
			border-top: 2px solid $color-gray



	// for when WP admin bar switches to mobile height
	+mq-max-netbook
		.toggle-menu
			height: 46px !important
			line-height: 46px
		
		img
			vertical-align: middle
			top: -1px

		ul
			top: 46px



.nav--top

	ul
		display: block
		+mq-max-netbook
			display: none
		margin: 0 auto
		width: 100%
		text-align: center
		background: $color-white
		z-index: 1000

		a
			+font("proxima")
			display: block
			font-size: +em(18)
			letter-spacing: 0.1em

			padding: 0 28px
			width: 100%
			height: 50px
			line-height: 50px
			&:hover
				background: #1daad1
				color: #fff

			+mobile
				width: 100%

	+mq-min-medium
		ul.menu
			display: block !important

	li
		display: inline-block
		position: relative
		ul
			width: auto
			overflow: visible
			padding-top: 3px
			display: none
			position: absolute
			top: 50px
			left: 0
			z-index: 10
			text-align: left
			li
				width: 100%
				a
					width: 100%
			+mq-max-netbook
				padding-top: 0
				display: block
				top: 0
				position: relative
				
				li a
					font-size: 1.5em
					padding-left: 40px
		&:hover
			ul
				display: block

	.springfield-creatives-logo-wrap
		position: absolute
		left: -50px
		bottom: 5px
		-o-transition: left .3s
		-ms-transition: left .3s
		-moz-transition: left .3s
		-webkit-transition: left .3s
		/* ...and now for the proper property */
		transition: left .3s

		img
			width: 40px
			height: auto
			margin-bottom: 0

	&.pinned .springfield-creatives-logo-wrap
		left: 10px

	header
		+cf
		display: none
		background: #E0E0E0
		padding: 0 10px
		h3, a
			display: inline-block
			line-height: 40px
		h3
			float: left
			margin-bottom: 0
			color: #1DAAD1
		a
			float: right

	+mq-max-medium
		ul li a
			padding: 0 17px

	+mq-max-netbook
		header
			display: block
		ul
			background: #1daad1
			text-align: left
			font-size: .75em
			li
				display: block
			a
				color: #fff
				font-weight: normal
				padding-left: 10px
				padding-right: 10px