/** NAVIGATION
 *===================================

.menu-top-navigation-container
	+cf

.nav--top

	ul
		display: block
		margin: 0 auto
		width: 100%
		text-align: center
		background: $color-white
		z-index: 1000

	li
		display: inline-block


	a
		+font("proxima")
		display: block
		font-size: +em(18)
		letter-spacing: 0.1em

		padding: 0 28px
		width: 100%
		height: 40px
		line-height: 40px

		+mobile
			width: 100%