@charset "UTF-8";
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** THIRD-PARTY FONTS
 *=================================== */
/** UTILITIES
 *=================================== */
/* line 1, assets/sass/app/_app.sass */
body {
  background-color: #ededed;
}
/* line 4, assets/sass/app/_app.sass */
body > section {
  padding: 70px 0;
}
/* line 7, assets/sass/app/_app.sass */
body > section:nth-child(even) {
  background-color: #fff;
}

/* line 10, assets/sass/app/_app.sass */
.middlifier {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 15, assets/sass/app/_app.sass */
h1 {
  font-size: 3.75em;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 1319px) {
  /* line 15, assets/sass/app/_app.sass */
  h1 {
    width: 790px;
  }
}
@media only screen and (max-width: 829px) {
  /* line 15, assets/sass/app/_app.sass */
  h1 {
    width: 100%;
    padding: 0 22px;
  }
}
@media only screen and (max-width: 568px) {
  /* line 15, assets/sass/app/_app.sass */
  h1 {
    font-size: 1.875em;
  }
}

/* line 25, assets/sass/app/_app.sass */
h2 {
  font-size: 44px;
  text-align: center;
  border-bottom: 2px solid #cecece;
  padding-bottom: 0.6em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 568px) {
  /* line 25, assets/sass/app/_app.sass */
  h2 {
    font-size: 1.875em;
  }
}

/* line 36, assets/sass/app/_app.sass */
.wysiwyg {
  padding: 70px 20px;
}

/* line 41, assets/sass/app/_app.sass */
.contact {
  background: #ededed;
}
/* line 44, assets/sass/app/_app.sass */
.contact header {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}
/* line 49, assets/sass/app/_app.sass */
.contact h2 {
  text-transform: none;
  font-size: 2em;
  margin-bottom: 0.7em;
}
/* line 54, assets/sass/app/_app.sass */
.contact h2 span {
  color: #b5b5b5;
  font-style: italic;
  font-weight: normal;
}
/* line 59, assets/sass/app/_app.sass */
.contact article {
  width: 780px;
  margin: 0 auto;
}
/* line 63, assets/sass/app/_app.sass */
.contact article > p {
  text-align: center;
}
@media only screen and (max-width: 1319px) {
  /* line 59, assets/sass/app/_app.sass */
  .contact article {
    width: 100%;
    padding: 0 22px;
  }
}
/* line 70, assets/sass/app/_app.sass */
.contact .wpcf7 {
  width: 620px;
  margin: 0 auto;
}
@media only screen and (max-width: 619px) {
  /* line 70, assets/sass/app/_app.sass */
  .contact .wpcf7 {
    width: 100%;
  }
}
@media only screen and (max-width: 619px) {
  /* line 77, assets/sass/app/_app.sass */
  .contact .checkboxes {
    height: 117px;
  }
}
/* line 81, assets/sass/app/_app.sass */
.contact form p:nth-child(odd),
.contact .wpcf7-list-item:nth-child(even) {
  margin-right: 0;
}

/* line 86, assets/sass/app/_app.sass */
footer {
  background: #434343;
  padding: 90px 0;
}
@media only screen and (max-width: 829px) {
  /* line 86, assets/sass/app/_app.sass */
  footer {
    padding: 45px 0;
  }
}
/* line 93, assets/sass/app/_app.sass */
footer p {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.04em;
  color: #f9f8f8;
  font-size: 1em;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 0 22px;
}
/* line 104, assets/sass/app/_app.sass */
footer .fb {
  margin: 0 auto;
}
/* line 107, assets/sass/app/_app.sass */
footer .fb,
footer .fb > i {
  width: 61px;
  height: 59px;
  background: url(assets/images/fb-ico.png);
  display: block;
}
/* line 114, assets/sass/app/_app.sass */
footer .fb > i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -ms-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  background-position: 61px 0;
}
/* line 119, assets/sass/app/_app.sass */
footer .fb > i:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 1, assets/sass/app/_admin.sass */
html,
body {
  background: #fff;
}

/* line 7, assets/sass/app/_admin.sass */
div.error,
div.updated,
div.update-nag {
  background: #ededed;
}

/* line 13, assets/sass/app/_admin.sass */
#wpfooter {
  display: none;
}

/* line 16, assets/sass/app/_admin.sass */
#adminmenuwrap,
#adminmenu {
  background: #434343;
}

/* line 20, assets/sass/app/_admin.sass */
#adminmenuback {
  z-index: 0;
}

/* line 23, assets/sass/app/_admin.sass */
h2,
h3,
label,
#adminmenu {
  font-family: "pt-serif", sans-serif;
}

/* line 29, assets/sass/app/_admin.sass */
h2,
h3,
label {
  color: #434343;
}

/* line 34, assets/sass/app/_admin.sass */
h2 {
  font-size: 2em !important;
  text-align: left;
}

/* line 38, assets/sass/app/_admin.sass */
h3 {
  font-size: 1.5em;
}

/* line 41, assets/sass/app/_admin.sass */
.form-table,
.form-table td,
.form-table td p,
.form-table th,
.form-table label,
.acf-field .acf-label label {
  font-size: 16px;
}

/* line 49, assets/sass/app/_admin.sass */
label,
.acf-field .acf-label label {
  font-weight: normal;
}

/* line 53, assets/sass/app/_admin.sass */
.acf-field .acf-label {
  padding-left: 0;
}

/** CUSTOM POST TYPE ICONS
 *=================================== */
/** FONTS
 *=================================== */
@font-face {
  font-family: "icon-font";
  src: url("./assets/fonts/icon-font.eot?98763708");
  src: url("./assets/fonts/icon-font.eot?98763708#iefix") format("embedded-opentype"), url("./assets/fonts/icon-font.woff?98763708") format("woff"), url("./assets/fonts/icon-font.ttf?98763708") format("truetype"), url("./assets/fonts/icon-font.svg?98763708#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 58, assets/sass/modules/_fonts.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  margin: 0em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

/* line 63, assets/sass/modules/_fonts.sass */
.icon-example-one:before {
  content: "";
}

/* line 66, assets/sass/modules/_fonts.sass */
.icon-example-two:before {
  content: "";
}

/* line 11, assets/sass/app/_admin-menu.sass */
div.wp-menu-image:before {
  margin: 0 !important;
}

/* line 16, assets/sass/app/_admin-menu.sass */
#adminmenu .menu-icon-post#menu-posts-individual_spotlight .wp-menu-image:before {
  font-family: "icon-font" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  margin: 0em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
/* line 18, assets/sass/app/_admin-menu.sass */
#adminmenu .menu-icon-post#menu-posts-partner_spotlight .wp-menu-image:before {
  font-family: "icon-font" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  margin: 0em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
/* line 20, assets/sass/app/_admin-menu.sass */
#adminmenu .menu-icon-post#menu-posts-hope_report .wp-menu-image:before {
  font-family: "icon-font" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  margin: 0em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-weight: bold !important;
}

/** ADMIN MENU SEPARATOR
 *=================================== */
/* line 27, assets/sass/app/_admin-menu.sass */
#adminmenu li.wp-menu-separator {
  background: #444;
  border-color: rgba(255, 255, 255, 0.1);
  height: 5px;
  margin: 6px 0;
}

/* line 1, assets/sass/app/_admin-bar.sass */
#wpadminbar {
  background: #ededed;
}
/* line 4, assets/sass/app/_admin-bar.sass */
#wpadminbar .quicklinks a,
#wpadminbar .quicklinks a span {
  color: #000 !important;
}
/* line 8, assets/sass/app/_admin-bar.sass */
#wpadminbar .quicklinks a {
  font-family: "proxima-nova", sans-serif !important;
}
/* line 12, assets/sass/app/_admin-bar.sass */
#wpadminbar .ab-top-menu > li.hover .ab-item,
#wpadminbar .ab-top-menu > li:hover .ab-item,
#wpadminbar .ab-top-menu > li:hover .ab-sub-wrapper,
#wpadminbar .ab-top-menu > li .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li .ab-item:focus {
  background: #434343;
  color: #fff !important;
}
/* line 20, assets/sass/app/_admin-bar.sass */
#wpadminbar .ab-top-menu > li.hover .ab-item span,
#wpadminbar .ab-top-menu > li:hover .ab-item span,
#wpadminbar .ab-top-menu > li:hover .ab-sub-wrapper span,
#wpadminbar .ab-top-menu > li .ab-item:focus span, #wpadminbar.nojq .quicklinks .ab-top-menu > li .ab-item:focus span {
  background: #434343;
  color: #fff !important;
}

/* line 2, assets/sass/app/_admin-profile.sass */
body.profile-php h3 {
  margin-top: 2em;
}
